@use "../../scss//utils/variables";

.container {
  background-color: variables.$second-color;

  border: none;
  border-radius: 60px;

  margin-bottom: 160px;
}

.content {
  padding: 80px 95px;
}

.title {
  text-align: center;
  font-size: 60px;
  line-height: 77px;

  margin-bottom: 40px;
}

.list {
  display: flex;
}

.item {
  margin-right: 30px;
}

.item:last-child {
  margin-right: 0px;
}
