@use "../../scss//utils/variables";

.user-info__container {
  display: flex;
}

.user-info__margin__bottom {
  margin-bottom: 60px;

  @media (min-width: 1600px) {
    display: flex;
  }
}

.user-info {
  &__description {
    padding-top: 0;

    margin-right: 0;

    @media (min-width: 1600px) {
      width: 560px;

      padding-top: 140px;

      margin-right: 111px;
    }
  }

  &__upper__title {
    font-weight: 500;
    font-size: 22px;
    line-height: 22px;

    background: -webkit-linear-gradient(variables.$gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    margin-bottom: 12px;

    @media (min-width: 1600px) {
      font-size: 22px;
      line-height: 28px;
    }
  }

  &__title {
    font-size: 26px;
    line-height: 25px;

    margin-bottom: 8px;

    @media (min-width: 1600px) {
      font-size: 50px;
      line-height: 64px;

      margin-bottom: 16px;
    }
  }

  &__text {
    color: variables.$second-color;
  }

  &__img__container {
    display: none;

    @media (min-width: 1600px) {
      display: block;
    }

    width: 619px;
    height: 720px;

    background: variables.$liner;

    border: none;
    border-radius: 50px;
  }

  &__img {
    padding: 137px 0 137px 99px;
  }
}
