.rigthSideClose {
  animation-name: rigthSideClose;
  animation-duration: 0.5s;
}

@keyframes rigthSideClose {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
