@use "../../scss//utils/variables";

.button {
  border-radius: 30px;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;

  &__accent__color {
    background: variables.$liner;
  }

  &__fecond__color {
    background: variables.$second-color;
  }

  &__flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.text {
  color: variables.$white;

  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
}

.flex__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.figure {
  width: 18px;
  height: 9px;

  margin-left: 12px;
}
