@use "../../scss//utils/variables";

.container {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;

  padding-right: 60px;
  padding-left: 60px;
}

.section {
  max-width: 1480px;
  margin-right: auto;
  margin-left: auto;
}

.section__small {
  max-width: 1290px;
  margin-right: auto;
  margin-left: auto;
}

h2 {
  background: -webkit-linear-gradient(variables.$gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
