$text: #32302f;
$white: #ffffff;
$pink: #f33f5e;
$liner: linear-gradient(103.85deg, #f33f5e 0%, #fa8550 100%);
$gradient-color: 103.85deg, #f33f5e 0%, #fa8550 100%;
$box-shadow: 0px 0px 7.4087px rgba(0, 0, 0, 0.12);
$second-color: #111a45;
