@use "../../scss//utils/variables";

.container {
  position: relative;
  margin-top: 92px;
  margin-bottom: 24px;

  @media (min-width: 1600px) {
    margin-bottom: 54px;
  }

  &__flex {
    display: flex;
    justify-content: space-between;

    @media (min-width: 1600px) {
      align-items: center;
    }
  }
}

.container::before {
  content: "";
  width: 100%;
  border: 1px solid #e2e6ec;

  position: absolute;
  top: -46px;
}

.logo {
  width: 70px;
  height: 20px;

  margin-right: 52px;

  @media (min-width: 1600px) {
    width: 226px;
    height: 49px;

    margin-right: 0;
  }
}

.button__list {
  display: flex;
  align-items: center;

  flex-wrap: wrap;

  @media (min-width: 1600px) {
    flex-wrap: nowrap;
  }
}

.button__item {
  margin-right: 0;
  margin-bottom: 15px;

  @media (min-width: 1600px) {
    margin-right: 50px;
    margin-bottom: 0;
  }
}

.button__item:last-child {
  margin-right: 0;
  margin-bottom: 0;
}

.button__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;

  color: variables.$second-color;

  cursor: pointer;
}

.icon__list {
  display: flex;
  align-items: center;

  flex-wrap: wrap;

  @media (min-width: 1600px) {
    flex-wrap: nowrap;
  }
}

.icon__item {
  margin-right: 0;

  margin-bottom: 10px;

  @media (min-width: 1600px) {
    margin-right: 26px;
  }
}

.icon__item:last-child {
  margin-right: 0;

  margin-bottom: 0;
}
