@use "../../scss//utils/variables";

.container {
  margin-bottom: 46px;

  &__flex {
    display: flex;
  }
}

.contacts__container {
  margin-right: 221px;
}

.uuper__title {
  font-weight: 500;
  font-size: 69px;
  line-height: 89px;

  color: variables.$second-color;
}

.title {
  font-size: 100px;
  line-height: 129px;

  margin-bottom: 19px;
}

.list {
  display: flex;
  align-items: center;
}

.item {
  border: none;
  background: #fff7f8;
  border-radius: 40px;

  padding: 29px 40px;

  margin-right: 30px;
}

.item:last-child {
  margin-right: 0;
}

.link {
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;

  color: variables.$second-color;

  cursor: pointer;

  &__flex {
    display: flex;
    align-items: center;
  }
}

.icon {
  margin-right: 10px;
}

.button {
  border: none;
  border-radius: 50%;

  font-weight: 500;
  font-size: 30px;
  line-height: 100%;

  padding: 113px 45px;

  background: variables.$liner;
  color: variables.$white;

  cursor: pointer;
}
